body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #eeeeee;
  color: #efefef;
  height: 100vh;
}

#title {
  text-align: center;
  font-size: 2em;
  margin-top: 30px;
  margin-bottom: 30px;
}

#module1 {
  width: 50%;
  float: left;
  transition: background-color 0.3s ease;
  height: 80vh;
}

#module2 {
  width: 50%;
  float: right;
  transition: background-color 0.3s ease;
  height: 80vh;
}

.module-button {
  background-color: #333333;
  color: #ffffff;
  padding: 10px 15px;
  margin-top: 30%;
  margin-left: 43%;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.module-button:hover {
  background-color: #555555;
  color: #ffffff;
}

.module-button {
  background-color: #16848c; /* Green background color */
  border: none; /* Remove border */
  color: white; /* White text color */
  padding: 15px 32px; /* Add padding */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove text underline */
  display: inline-block;
  font-size: 25px; /* Set font size */
  margin: 170px 250px; /* Add margin */
  cursor: pointer; /* Add cursor on hover effect */
  border-radius: 15px; /* Optional: Add border radius for rounded corners */
  transition: background-color 0.3s; /* Smooth transition for background color change */

  /* Add additional styles for hover effect */
  &:hover {
    background-color: #601627; /* Darker green on hover */
  }
}
